<!DOCTYPE html>
<html ng-app="Eventos">
<head>
  <meta charset="utf-8">
  <title>Vum Bora!!!</title>
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="angular/evento.module.js"></script>
  <script src="angular/evento.controller.js"></script>
  <!--responsive--> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS bootstrap-->
  <link rel="stylesheet" href="source/css/bootstrap.min.css">
  <link rel="stylesheet" href="source/css/bootstrap-theme.min.css">
  <!--JS do Slide-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!--CSS-->
  <link rel="stylesheet" type="text/css" href="css/backgroud.css">
  <link rel="stylesheet" type="text/css" href="css/conteudoinde.css">
  <link rel="stylesheet" type="text/css" href="css/menuNovo.css">
  <link rel="stylesheet" type="text/css" href="css/slide.css">
  <link rel="stylesheet" type="text/css" href="css/modal.css">
  <link rel="stylesheet" type="text/css" href="css/barraRed.css">
  <link rel="stylesheet" type="text/css" href="css/rodape.css">
  <!--JS-->
  <script src="js/menuNovo.js" ></script>
  <script src="js/modal.js"></script>
  <script src="source/js/bootstrap.min.js"></script>
</head>
<body ng-controller="EventosController">

<!--########################################################################################################-->

<!--Menu-->
<div id="flipkart-navbar">
  <div class="container">
   <br><br>
   <div class="row row2">
    <div class="col-sm-2">
      <h2 style="margin:0px;"><span class="smallnav menu" onclick="openNav()">☰ <img src="css/img/Logo1.png" class="img-responsive"></span></h2>
      <h1 style="margin:0px;"><span class="largenav"><img src="css/img/Logo1.png" class="img-responsive"></span></h1>
    </div>
    <div class="flipkart-navbar-search smallsearch col-sm-8 col-xs-11">
      <div class="row">
        <input class="flipkart-navbar-input col-xs-11" type="" placeholder="Pesquise Eventos" name="" style="color: black">
        <button class="flipkart-navbar-button col-xs-1">
          <svg width="15px" height="15px">
            <path d="M11.618 9.897l4.224 4.212c.092.09.1.23.02.312l-1.464 1.46c-.08.08-.222.072-.314-.02L9.868 11.66M6.486 10.9c-2.42 0-4.38-1.955-4.38-4.367 0-2.413 1.96-4.37 4.38-4.37s4.38 1.957 4.38 4.37c0 2.412-1.96 4.368-4.38 4.368m0-10.834C2.904.066 0 2.96 0 6.533 0 10.105 2.904 13 6.486 13s6.487-2.895 6.487-6.467c0-3.572-2.905-6.467-6.487-6.467 "></path>
          </svg>
        </button>
      </div>
    </div>
    <div class="cart largenav col-sm-2">
      <a class="cart-button" href="login.html">Login</a>
    </div>
    
    

    <div class="row row1 col-md-12" align="center">
      <ul class="largenav">
        <li class="upper-links"><a class="links" href="index.html">Inicio</a></li>
        <li class="upper-links dropdown"><a class="links">Categorias</a>
          <ul class="dropdown-menu">
            <li class="profile-li"><a class="profile-links" href="indexAuto.html">Automotivo</a></li>
            <li class="profile-li"><a class="profile-links" href="indexFestival.html">Encontros</a></li>
            <li class="profile-li"><a class="profile-links" href="indexConcerto.html">Teatro</a></li>
            <li class="profile-li"><a class="profile-links" href="indexFestival.html">Festival</a></li>
            <li class="profile-li"><a class="profile-links" href="#">Show</a></li>
            
          </ul>
        </li>
        <li class="upper-links"><a class="links" id="myBtn">Muda de cidade</a></li>
        <li class="upper-links"><a class="links" href="#">Ultimos Eventos</a></li>
        <li class="upper-links"><a class="links" href="#">Novidades</a></li>
        <li class="upper-links"><a class="links" href="profile.html">Perfil</a></li>
      </ul>
    </div>
  </div>
</div>
</div>
<div id="mySidenav" class="sidenav">
  <div class="container" style="background-color: #c32100; padding-top: 10px;">
    <span class="sidenav-heading">Menu</span>
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  </div>
  <li class="upper-links"><a class="links" href="index.html">Inicio</a></li>
  <li class="upper-links"><a class="links" href="cidades.html">Muda de cidade</a></li>
  <li class="upper-links"><a class="links" href="#">Ultimos Eventos</a></li>
  <li class="upper-links"><a class="links" href="#">Novidades</a></li>
  <li class="upper-links"><a class="links" href="#">Ultimos Eventos</a></li>
  <li class="upper-links"><a class="links" href="#">Novidades</a></li>
  <li class="upper-links dropdown"><a class="links" >Categorias</a>
    <ul class="dropdown-menu">
      <li class="profile-li"><a class="profile-links" href="">Automotivo</a></li>
      <li class="profile-li"><a class="profile-links" href="#">Encontros</a></li>
      <li class="profile-li"><a class="profile-links" href="#">Show</a></li>
      <li class="profile-li"><a class="profile-links" href="#">Teatro</a></li>
      <li class="profile-li"><a class="profile-links" href="#">Festival</a></li>
    </ul>
  </li>
  <br>
  <br>
  <br>
  <br>
  <li class="upper-links"><a class="links" href="profile.html">Meu Perfil</a></li>
  <li class="upper-links"><a class="links" href="cadastro.html">Registra-se</a></li>
  <li class="upper-links"><a class="links" href="login.html">Login</a></li>
</div> 
<!--########################################################################################################-->

<!-- id para chama o Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2><div class="texto" align="center">Selecione a sua Cidade</div></h2>
    </div>
    <div class="modal-body">
      <div class="cidades" >

        <a href="index.html" class="btn btn-lg btn-primary btn-block"><div class="texto">Campina Grande/PB</div></a><br>
        <a href="index.html" class="btn btn-lg btn-primary btn-block"><div class="texto">João Pessoa/PB</div></a><br>
        <a href="index.html" class="btn btn-lg btn-primary btn-block"><div class="texto">Santa Rita/PB</div></a><br>
        <a href="index.html" class="btn btn-lg btn-primary btn-block"><div class="texto">Pombal/PB</div></a><br>
        <a href="index.html" class="btn btn-lg btn-primary btn-block"><div class="texto">Araruna/PB</div></a><br>
        <a href="index.html" class="btn btn-lg btn-primary btn-block"><div class="texto">Queimadas/PB</div></a><br>
        <a href="index.html" class="btn btn-lg btn-primary btn-block"><div class="texto">Patos/PB</div></a><br>
        <a href="index.html" class="btn btn-lg btn-primary btn-block"><div class="texto">Pocinhos/PB</div></a><br>
        <a href="index.html" class="btn btn-lg btn-primary btn-block"><div class="texto">Pitimbu/PB</div></a>
      </div>
    </div>
    <div class="modal-footer">
      <div class="texto">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</div>
    </div>
  </div>
</div>
<script src="js/modal.js"></script>
<!--########################################################################################################-->
<!--########################################################################################################-->

<!--########################################################################################################-->
<!--########################################################################################################-->
<!--conteudo-->

<!-- Header -->
<div class="header">
  <h1>Ultimos Eventos</h1>
  <p>Participe dos novos eventos!!!</p>
</div>
<!-- Photo Grid -->
<div class="postagens" >
<!--Coluna 1 --> 
  <div class="column" ng-repeat="evento in eventos">
    <img ng-src="{{ evento.img }}" style="width: 100%" id="img-responsive">
    <div id="texto" align="center">
      <td>
        <a href="telaEvento01.html" class="verinfor" >+Info do Evento</a>
      </td>
    </div>
  </div>
</div>



  <form class="form-eventos" ng-submit="adicionarEvento()">
      <h1>Adicionar Evento</h1>
      
      <div class="form-campo">
        <label for="img">Url da img</label>
        <input type="text" id="img" ng-model="novoEvento.img">
      </div>
     
      <footer>
        <button type="reset">Limpar</button>
        <button type="submit">Salvar</button>
      </footer>
    </form>

</body>
</html>